<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous") 
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
		link(rel="stylesheet", href="src/scss/main.scss")
		
		title Clock Market
	body
		section.sub-header
			div.container
				h4.sub-info Custom Logo Wathes & More, Free Shipping & Returns
				ul.sub-count
					li.fas.fa-user
					li.fas.fa-shopping-cart
					li.fas.fa-search

		section.header
			div.container
				h3.logo
					a(href="#") AW LOGO
					span American Logo Watch
				ul.header_menu
					li
						a(href="#") Watches
					li
						a(href="#") Services
					li
						a(href="#") FAQs
					li
						a(href="#") Contact
					li
						a(href="#") Request Virtual
				p.phone
					i.fas.fa-phone
					| 1 (800) 862 6772
		section.store
			div.container
				div.store_inner
					a.store_back(href="#")
					a.store_forward(href="#")
					h2 Our store
					p As many of you know, our company has a wide field of activity: we are engaged in the development of products, publish design and code related articles, and support the Market, where designers publish their products to sell. FS Industrie is created for digital designs where flexibility is essential. Designed by Phil Garnham and Fernando Mello, the font combines aesthetics with functional utility, delivering a precise and direct feel. 
		section.collection
			div.container
				i.prev.fas.fa-arrow-left
				i.next.fas.fa-arrow-right
				header.collection_header
					h2 Collections
					div
						h4 Latest
						h4 Popular
				div.slider
					div.slider-track
						div.slider-inner
							div.slider-item
								img(src="img/clock-1.png", alt="img" width="247px" height="384px")
								h4.slider-item_caption Adriatica ADR
								h5.slider-item_price $650.00
							div.slider-item
								img(src="img/clock-2.png", alt="img" width="247px" height="384px")
								h4.slider-item_caption Adriatica ADR
								h5.slider-item_price $650.00
							div.slider-item
								img(src="img/clock-3.png", alt="img" width="247px" height="384px")
								h4.slider-item_caption Adriatica ADR
								h5.slider-item_price $650.00
						div.slider-inner
							div.slider-item
								img(src="img/clock-1.png", alt="img" width="247px" height="384px")
								h4.slider-item_caption Adriatica ADR
								h5.slider-item_price $650.00
							div.slider-item
								img(src="img/clock-2.png", alt="img" width="247px" height="384px")
								h4.slider-item_caption Adriatica ADR
								h5.slider-item_price $650.00
							div.slider-item
								img(src="img/clock-3.png", alt="img" width="247px" height="384px")
								h4.slider-item_caption Adriatica ADR
								h5.slider-item_price $650.00

	//- JQUERY
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	//-  SLICK
	script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js") 
	script(src="src/scss/collections/collections.js")
	script(src="src/js/main.js")